input::-webkit-input-placeholder {
   /* placeholder颜色  */
   color: #9d9d9d;
   /* placeholder字体大小  */
     font-size: 0.75rem;
   /* placeholder位置  */
/*         text-align: right;*/
}

html::-webkit-scrollbar{
  display:none;
}

/*header{ background: url(../image/index/background.png)}
header ul li { height: 50px; line-height: 50px; text-align: center; display: none; color: #ffffff; position: relative;font-size: 18px;  }
header ul li.active{ display: block; }*/

.input{
 border:1px solid #D0D0D0;
}

#footer ul li{ padding-top: 22px; margin-top: 4px; padding-bottom: 1px; background: url() no-repeat center 2px; background-size: auto 33px; text-align: center; }
#footer ul li.active{ color: #6ab494; }
#footer ul li:nth-child(1){ background-image: url(../image/footerIcon/home.png); }
#footer ul li:nth-child(2){ background-image: url(../image/footerIcon/find.png); }
#footer ul li:nth-child(3){ background-image: url(../image/footerIcon/search.png); }
#footer ul li:nth-child(4){ background-image: url(../image/footerIcon/mine.png); }
#footer ul li:nth-child(1).active{ background-image: url(../image/footerIcon/home-fill.png); }
#footer ul li:nth-child(2).active{ background-image: url(../image/footerIcon/find-fill.png); }
#footer ul li:nth-child(3).active{ background-image: url(../image/footerIcon/search-fill.png); }
#footer ul li:nth-child(4).active{ background-image: url(../image/footerIcon/mine-fill.png); }

#second{  background-color: #f2f2f2; }
#second ul li{  padding-top: 29px; padding-bottom: 1px; background: url() no-repeat center 2px; background-size: auto 42px; text-align: center; }
#second ul li.active{ color: #6ab494; }
#second ul li:nth-child(1){ background-image: url(../image/index/sceneimg.png); }
#second ul li:nth-child(2){ background-image: url(../image/index/actorimg.png); }
#second ul li:nth-child(3){ background-image: url(../image/index/subjectimg.png); }
#second ul li:nth-child(4){ background-image: url(../image/index/screenwriterimg.png); }
#second ul li:nth-child(5){ background-image: url(../image/index/directorimg.png); }

#catalog{  background-color: #f2f2f2; }
#catalog ul li{  padding-top: 36px; padding-bottom: 4px; background: url() no-repeat center 2px; background-size: auto 36px; text-align: center; }
#catalog ul li.active{ color: #6ab494; }
#catalogOne li:nth-child(1){ background-image: url(../image/mine/infoIcon/concern.png); }
#catalogOne li:nth-child(2){ background-image: url(../image/mine/infoIcon/fans.png); }
#catalogOne li:nth-child(3){ background-image: url(../image/mine/infoIcon/reservation.png); }
#catalogOne li:nth-child(4){ background-image: url(../image/mine/infoIcon/booked.png); }
/*#catalogTwo li:nth-child(2){ background-image: url(../image/mine/infoIcon/paper-green.png); }
#catalogTwo li:nth-child(3){ background-image: url(../image/mine/infoIcon/person-green.png); }
#catalogThree li:nth-child(1){ background-image: url(../image/mine/infoIcon/file-green.png); }
#catalogThree li:nth-child(2){ background-image: url(../image/mine/infoIcon/home-green.png); }
#catalogThree li:nth-child(3){ background-image: url(../image/mine/infoIcon/set-green.png); }*/

#catalogOne li:nth-child(1).active{ background-image: url(../image/mine/infoIcon/roleManager.png); }
#catalogOne li:nth-child(2).active{ background-image: url(../image/mine/infoIcon/file-orange.png); }
#catalogOne li:nth-child(3).active{ background-image: url(../image/mine/infoIcon/paper-orange.png); }
#catalogOne li:nth-child(4).active{ background-image: url(../image/mine/infoIcon/edit-orange.png); }
/*#catalogTwo li:nth-child(2).active{ background-image: url(../image/mine/infoIcon/card-orange.png); }
#catalogTwo li:nth-child(3).active{ background-image: url(../image/mine/infoIcon/heart-orange.png); }
#catalogThree li:nth-child(1).active{ background-image: url(../image/mine/infoIcon/arrows-orange.png); }
#catalogThree li:nth-child(2).active{ background-image: url(../image/mine/infoIcon/home-orange.png); }
#catalogThree li:nth-child(3).active{ background-image: url(../image/mine/infoIcon/set-orange.png); }*/



.flex-con{
  overflow: auto
}
.aui-content-padded {
    padding: 0.75rem;
    background-color: #ffffff;
    margin-top: 0.75rem;
}
